<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>insert-datos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   <form [formGroup]="form" (submit)="onSubmit()">
      <ion-item>
        <ion-input
          type="text"
          placeholder="Nombre"
          formControlName="datNombre"
          required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          type="text"
          placeholder="Apellido"
          formControlName="datApellido"
          required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          type="number"
          placeholder="Edad"
          formControlName="datEdad"
          required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          type="text"
          placeholder="Deporte"
          formControlName="datDeporte"
          required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          type="text"
          placeholder="Url Imágen"
          formControlName="datImagen"
          required>
        </ion-input>
      </ion-item>
      <ion-button
         type="submit"
         [disabled]="form.invalid">
         Crear
      </ion-button>
   </form>
</ion-content>
