<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>datos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab vertical="bottom" horizontal="end" >
    <ion-fab-button (click)="insert()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <h3>Bienvenido <strong>{{myNombre}}</strong></h3>
    <ion-card *ngFor="let myDatos of datos; let i = index">
      <ion-card-content>
        <ion-accordion-group>
          <ion-accordion value="first">
            <ion-item slot="header">
              <ion-label>{{myDatos.datNombre}} {{myDatos.datApellido}}</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <div *ngIf="myDatos.datEdad > 18; else menor">
                <strong>{{myDatos.datDeporte}}</strong>
                <img (click)="interface(i)" src="{{myDatos.datImagen}}" alt="">
              </div>
            </div>
            <ng-template #menor>
              <h1><strong>No se puede mostrar información (menor de edad)</strong></h1>
            </ng-template>
          </ion-accordion>
        </ion-accordion-group>
      </ion-card-content>
    </ion-card>
</ion-content>
